@import url('../../theme-variables.css');
.footer {
    width: 100%;
    background-color: black;
}

.footer__container {
    max-width: var(--containerWidth);
    color: var(--secondaryTextColor);
    margin: 0 auto;
    padding: 60px 0;
    font-weight: 600;
    font-size: 15px;
    
}

h3 {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: .2em;
    margin-bottom: 20px;
}

.footer__contact {
    display: flex;
}

.contact__phone, .contact__address{
    display: flex;
    flex-direction: column;
    margin: 0 30px 30px 0;
}
